<header class="header">
    <div class="logo-container" (click)="goHome()">
        <img src="productos/logotipo.png" class="logo" alt="Logo">
    </div>

    <button class="hamburger" (click)="toggleMenu()">
        <span></span><span></span><span></span>
    </button>

    <div class="header-photos hide-on-mobile">
        <img src="productos/Icann_Aceite_Forte.png" alt="Foto 1">
        <img src="productos/cream mockup.png" alt="Foto 5">
        <img src="productos/Icann_Aceite_Confort.png" alt="Foto 2">
        <img src="productos/Icann_Gel_Cannabidiol.png" alt="Foto 6">
        <img src="productos/Icann_Aceite_Relax.png" alt="Foto 3">
        <img src="productos/Icann_Crema_Dermosoft.png" alt="Foto CBD BEBE">
        <img src="productos/Icann_Aceite_Mascotas.png" alt="Foto 4">
    </div>

    <div class="button-container hide-on-mobile">
        <button class="cta" (click)="selectSection('contactenos')">Contáctenos</button>
    </div>
</header>