<div class="main-content">
    <app-inicio *ngIf="currentSection === 'inicio'"></app-inicio>
    <app-quienes-somos *ngIf="currentSection === 'quienes-somos'"></app-quienes-somos>
    <app-productos *ngIf="currentSection === 'productos'"></app-productos>
    <app-faq *ngIf="currentSection === 'faq'"></app-faq>
    <app-tienda *ngIf="currentSection === 'tienda'"></app-tienda>
    <app-testimonios *ngIf="currentSection === 'testimonios'"></app-testimonios>
    <app-contactenos *ngIf="currentSection === 'contactenos'"></app-contactenos>
  </div>