<div class="main-section">
<h2 class="title">Mision</h2>
<p class="text">
   Ofrecer productos de cannabis medicinal elaborados artesanalmente bajo buenas prácticas de manufactura, que sean accesibles y cercanos, para mejorar la salud y el bienestar de personas y mascotas, promoviendo al mismo tiempo la educación responsable sobre su uso.


<h2 class="title">Vision</h2>
<p class="text">
  Ser una referencia nacional en medicina natural y orgánica, reconocida por la calidad, accesibilidad y confianza de nuestros productos, contribuyendo a una sociedad más consciente, saludable y en armonía con la naturaleza y la planta.
</div>
