<div class="contact-wrapper">

  <div class="background-image-side"></div>

  <div class="content">

    <h2 class="title">
      Contactanos
    </h2>

    <p class="subtitle">
      Estamos para ayudarte, no dudes en contactarnos por alguno de estos canales
    </p>


    <div class="contact-grid">

      <!-- Instagram -->
      <a
        [href]="instagramUrl"
        target="_blank"
        class="contact-card insta">

        <img
          src="productos/instagram.png"
          alt="Instagram">

        <span>
          &#64;icanncba
        </span>

      </a>


      <!-- WhatsApp -->
      <a
        [href]="whatsappUrl"
        target="_blank"
        class="contact-card whatsapp">

        <img
          src="productos/whatsapp.png"
          alt="WhatsApp">

        <span>
          WhatsApp 351 393 8532
        </span>

      </a>


    </div>

  </div>

</div>