.main-section {
  position: fixed;
  top: -32px;
  right: 0px;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  width: 100vw;
  background-color: blue; /* Color pastel */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}